@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 77%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

ul li a,
a {
  text-decoration: none;
}

.left-card figure img {
  width: 100%;
}

/*header section start*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-nav {
  display: flex;
  gap: 43px;
}

header {
  padding-top: 93px;
  padding-bottom: 55px;
}

.right-nav li a {
  font-size: 16.5px;
  color: #74707b;
}

.right-nav li:hover a {
  color: #e1534c;
}
/*header section end*/

/*main section start*/

/*card section start*/

.card > .wrapper {
  display: flex;
  gap: 30px;
}

.left-card {
  flex-basis: 66%;
}

.right-card {
  background-color: #00001a;
  flex-basis: 31.5%;
}

.left-card-bottom {
  display: flex;
}

h2 {
  line-height: 1;
  font-size: 60px;
  font-weight: bold;
  flex-basis: 53%;
}

.we-container {
  flex-basis: 48%;
}

.we-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #6a6971;
  margin-bottom: 40px;
}

.left-card figure {
  margin-bottom: 28px;
}

.btn-div {
  display: inline-block;
  background-color: #e2534c;
  padding: 15px 9%;
}

.btn-div a {
  letter-spacing: 5px;
  color: #ffe5e0;
  font-size: 15px;
}

.right-card {
  color: #fff;
  padding: 32px 2.3% 0 2.3%;
}

.right-card .wrapper {
  width: 100%;
}

h3 {
  font-size: 40px;
  color: #de9c4b;
  margin-bottom: 30px;
}

h4 {
  font-size: 21px;
  margin-bottom: 10px;
  margin-top: 35px;
}

h4:hover {
  color: #de9c4b;
  cursor: pointer;
}

.new-list p {
  font-size: 16px;
  line-height: 1.6;
  color: #85859c;
  margin-bottom: 30px;
}

.new-list li:not(:last-child) {
  border-bottom: 1px solid #383850;
}

.new-list li:last-child {
  border: none;
}

.card {
  margin-bottom: 75px;
}
/*card section end*/

/*small card section start*/
.small-card-list {
  display: flex;
  /* gap: 50px; */
}

.small-card-list li {
  display: flex;
}

.small-card-list figure {
  flex-basis: 34%;
}

.small-card-info {
  flex-basis: 70%;
}

.small-card-list img {
  width: 105px;
  height: 135px;
}

.small-card-info span {
  display: inline-block;
  font-size: 30px;
  color: #c6c2ca;
  font-weight: bold;
  margin-bottom: 12px;
}

h5 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 17px;
}

h5:hover {
  color: #e1534c;
  cursor: pointer;
}

.btn-div:hover {
  background-color: #000;
  cursor: pointer;
  transition: 0.5s ease;
}

.small-card-info p {
  font-size: 15.5px;
  line-height: 1.4;
  color: #8f8d95;
}
/*small card section end*/

.container {
  padding-bottom: 140px;
}

.first-card {
  flex-basis: 34.7%;
}

.second-card {
  flex-basis: 34%;
}

.third-card {
  flex-basis: 31.5%;
  gap: 15px;
}

.first-para,
.second-para {
  width: 85%;
}

.hamburger {
  display: none;
}

.hamburger-close {
  display: none;
}

.hamburger-icon {
  padding: 10px 0 10px 10px;
}

.hamburger-icon:hover {
  cursor: pointer;
}

ul.show {
  display: block;
}

.hamburger-close.hide {
  display: none;
}

.hamburger-menu.show {
  display: block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*main section end*/

/*Responsive Design*/
/*media query for 1500px starts here*/
@media only screen and (max-width: 1440px) {
  .left-card figure {
    height: 60%;
    margin-bottom: 0px;
  }

  .left-card figure img {
    height: 100%;
    object-fit: cover;
  }

  .left-card-bottom {
    height: 40%;
    align-items: flex-end;
  }

  /* h2 {
    padding-right: 3%;
  }

  .we-container {
    padding-left: 3%;
  } */

  .we-container p {
    margin-bottom: 35px;
  }
}

/*media query for 1400px starts here*/
@media only screen and (max-width: 1400px) {
  h2 {
    font-size: 4.5vw;
  }

  .we-container p,
  .btn-div a {
    font-size: 1.1vw;
  }

  .left-card-bottom {
    align-items: center;
  }

  h5 {
    font-size: 1.3vw;
  }

  .small-card-info p {
    font-size: 1.1vw;
  }

  .small-card-list li {
    gap: 5%;
  }

  .small-card-list img {
    height: 100%;
  }

  .small-card-info {
    padding: 0 5%;
  }

  h4 {
    font-size: 1.5vw;
  }

  .new-list p {
    font-size: 1.2vw;
  }
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .card > .wrapper {
    flex-direction: column;
    gap: 0;
  }

  .left-card-bottom {
    margin: 50px 0;
    gap: 30px;
  }

  .left-card-bottom h2 {
    font-size: 46px;
    line-height: 57px;
  }

  .we-container p {
    font-size: 15px;
  }

  .new-list h4 {
    font-size: 20px;
  }

  .new-list p {
    font-size: 15px;
  }

  .small-card-list {
    flex-wrap: wrap;
  }

  .first-card,
  .second-card,
  .third-card {
    flex-basis: 50%;
  }

  .card {
    margin-bottom: 60px;
  }

  .small-card-list figure {
    flex-basis: 40%;
  }

  .small-card-info {
    flex-basis: 50%;
  }

  .small-card-list li figure img {
    width: 100%;
  }

  .third-card {
    margin-top: 35px;
  }

  .small-card-info span {
    font-size: 30px;
  }

  h5 {
    font-size: 16px;
  }

  .small-card-info p {
    font-size: 13px;
  }

  .small-card-info {
    padding: 0 2%;
  }

  .right-card {
    color: #fff;
    padding: 32px 8% 0 8%;
  }

  header {
    padding: 60px 0 40px;
  }

  nav {
    position: relative;
  }

  .right-nav {
    position: absolute;
    width: 100%;
    right: 0;
    flex-direction: column;
    top: 60px;
    gap: 25px;
  }

  .right-nav {
    background-color: #101010;
    padding: 30px 0;
    display: none;
  }

  .right-nav li {
    padding: 0 50px;
  }

  .right-nav li a {
    color: #fff;
  }

  .right-nav li {
    padding: 15px 50px;
  }

  .hamburger {
    display: block;
  }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .we-container p {
    font-size: 13px;
  }

  .btn-div a {
    font-size: 13px;
  }

  .left-card-bottom h2 {
    font-size: 40px;
  }

  .small-card-list li {
    flex-basis: 100%;
  }

  .third-card {
    margin-top: 0px;
  }

  .small-card-list {
    gap: 30px;
  }

  .small-card-list figure {
    flex-basis: 50%;
  }

  .small-card-list li figure img {
    height: 250px;
    object-fit: cover;
  }

  .small-card-info span {
    font-size: 45px;
  }

  h5 {
    font-size: 20px;
  }

  .small-card-info p {
    font-size: 17px;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
}

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {
}
