@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

.left-card figure img {
  width: 100%;
}
